<table>
  <thead>
    <tr>
      <th class="width-40">Rank</th>
      <!--  -->
      <th class="width-100">Name</th>
      <!--  -->
      <th class="width-40">Pts</th>
      <th class="width-80">Winnings</th>
      <th class="width-60">Games Correct</th>
      <!--  -->
      <th class="width-80">Confidence</th>
      <th class="width-80">$5 Bet/ Conf Point</th>
      <th class="width-60">Pct Correct</th>
      <th class="width-60">Pts Per Correct Pick</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) { %>
      <tr>
        <td>
          <%= user.rank %>
        </td>
        <!--  -->
        <td>
          <a href="/picks/<%= user.uuid %>">
            <%= user.name %>
          </a>
        </td>
        <!--  -->
        <td>
          <%= user.totalPoints %>
        </td>
        <td>
          <%= user.totalWinnings %>
        </td>
        <td>
          <%= user.gamesCorrect %>
        </td>
        <!--  -->
        <td>
          <%= user.confidencePercent %>
        </td>
        <td>
          <%= user.fiveDollarBetPerConfPoint %>
        </td>
        <td>
          <%= user.percentCorrect %>
        </td>
        <td>
          <%= user.ptsPerCorrectPick %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>